---
interface props {
    content: string;
}
const {content} = Astro.props
---

<div class="w-full p-5 text-nowrap flex-nowrap whitespace-nowrap fixed bottom-0 justify-center flex">
    <div class="bg-secondary menu menu-horizontal overflow-hidden w-fit">
        <!--<h1 class="text-4xl text-accent font-extrabold menu-title">
            Home
        </h1>-->
        <div class="grid-wrapper" id="grid-wrapper">
            <h2 id="menu-additional" class="text-4xl text-accent font-extrabold menu-title text-nowrap">test</h2>
        </div>
        <button id="expand-menu" class="text-4xl text-accent font-extrabold menu-title"></button>
    </div>
</div>

<script>
    document.getElementById("expand-menu").innerHTML = '<span class=\"material-symbols-outlined\">\nkeyboard_double_arrow_right </span>'
    document.getElementById("expand-menu").onclick = (e) => {
        document.getElementById("grid-wrapper").classList.toggle('open')
        document.getElementById("menu-additional").classList.toggle('open')
        document.getElementById("expand-menu").innerHTML == '<span class=\"material-symbols-outlined\">\nkeyboard_double_arrow_right </span>' ?
            document.getElementById("expand-menu").innerHTML = '<span class=\"material-symbols-outlined\">\nkeyboard_double_arrow_left </span>' :
            document.getElementById("expand-menu").innerHTML = '<span class=\"material-symbols-outlined\">\nkeyboard_double_arrow_right </span>'
    }
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

<style>
    #menu-additional {
        min-width: 0;
        min-height: 0;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        opacity: 0;
    }

    .open#menu-additional {
        padding-right: 1rem/* 16px */;
        width: auto;
        display: block;
        opacity: 100;
    }

    #grid-wrapper {
        display: grid;
        grid-template-columns: 0fr;
        overflow: hidden;
        transition: grid-template-columns 200ms;

    }

    .open#grid-wrapper {
        grid-template-columns: 1fr;
    }
</style>