---
import {ContainerScroll} from "../components/ui/container-scroll-animation";
import WeirdGrid from "../components/svg/WeirdGrid.astro";
---
<div id="home" class="w-full h-full bg-primary px-[30rem] py-44">

    <div class="w-full h-[60vh] relative grid">
        <a class="row-end-1 col-end-1">
            <WeirdGrid class="row-end-1 col-end-1" client:load width="100%" height="100%" viewbox="0 0 50 30.049" stroke="oklch(0.751423 0.020315 193.074)"/></a>
        <div class="p-16 mt-14 w-full h-fit m-auto relative block font-medium row-end-1 col-end-1">
            <h1 class="text-5xl drop-shadow-lg leading-[3.2rem]"><a class="text-base-300">Hey! </a><a>I'm Peletic, a high school student skilled in Java,
                Javascript, Typescript and much more.</a></h1>
            <h3 class="drop-shadow-lg mt-5 font-light">C++, C#, Rust, Kotlin, Shell, Bash | Vanilla HTML, Reactjs, Nextjs, Astrojs</h3>
        </div>
    </div>

    <div class="">
        <ContainerScroll titleComponent="My Work!" users={
            [
                {
                    "user": "Overview",
                    "designation": "Github",
                    "image": "gh.png"
                },
                {
                    "user": "Personal",
                    "designation": "Postcard",
                    "image": "postcard.jpg"
                },
                {
                    "user": "Contributor",
                    "designation": "Game Service",
                    "image": "bm.png"
                },
                {
                    "user": "Freelancing",
                    "designation": "Trading Tools",
                    "image": "trade.png"
                },
                {
                    "user": "Freelancing",
                    "designation": "Account Management",
                    "image": "home.png"
                }
            ]
        }>

        </ContainerScroll>
    </div>

</div>