---
import {ContainerScroll} from "../components/ui/container-scroll-animation";
import WeirdGrid from "../components/svg/WeirdGrid.astro";
import Section from "../components/Section.astro";
---
<div id="home" class="bg-primary min-h-full py-16 flex flex-col px-[10vw]">
    <div class="flex flex-row mx-auto h-fit my-6">
        <div class="w-full h-full relative border-secondary bg-accent rounded-[30px] border-solid border-4 flex flex-row p-4">
            <div class="p-2 inline w-auto h-full relative font-medium row-end-1 col-end-1">
                <h1 class="text-4xl drop-shadow-lg font-medium leading-[2.3rem] text-primary"><a class="text-secondary">Hey! </a><a>I'm Peletic, a
                    high school student.</a></h1>
                <h3 class="drop-shadow-lg mt-5 font-light text-accent">Learning C++, C#, Rust, Kotlin, Shell, Bash | Vanilla HTML, Reactjs,
                    Nextjs, Astrojs</h3>
            </div>
            <div class="inline relative overflow-hidden w-4/6 h-auto py-6 pt-14">

                <ContainerScroll client:only="react" titleComponent={null} users={
                    [
                        {
                            "user": "Overview",
                            "designation": "Github",
                            "image": "gh.png"
                        },
                        {
                            "user": "Personal",
                            "designation": "Postcard",
                            "image": "postcard.jpg"
                        },
                        {
                            "user": "Contributor",
                            "designation": "Game Service",
                            "image": "bm.png"
                        },
                        {
                            "user": "Freelancing",
                            "designation": "Trading Tools",
                            "image": "trade.png"
                        },
                        {
                            "user": "Freelancing",
                            "designation": "Account Management",
                            "image": "home.png"
                        },
                        {
                            "user": "Overview",
                            "designation": "Github",
                            "image": "gh.png"
                        },
                        {
                            "user": "Personal",
                            "designation": "Postcard",
                            "image": "postcard.jpg"
                        },
                        {
                            "user": "Contributor",
                            "designation": "Game Service",
                            "image": "bm.png"
                        },
                        {
                            "user": "Freelancing",
                            "designation": "Trading Tools",
                            "image": "trade.png"
                        }
                    ]
                }>
                </ContainerScroll>
            </div>
        </div>

        <Section class:list="w-2/5">
            Test
        </Section>


    </div>
    <div class="flex flex-row mx-auto h-[50vh] my-6">
        <Section class:list="w-2/5">
            Test
        </Section>

    </div>
</div>