---

import NavBarEntry from "./NavBarEntry.astro";---
<div class="w-full bottom-0 justify-center flex fixed">
    <div class="text-4xl bg-secondary w-fit pb-2 font-extrabold text-accent py-3 px-5 rounded-t border-neutral border-solid border-t-4 border-x-4 flex flex-row">
        <NavBarEntry content="HOME"/> -
        <NavBarEntry content="CONTACT"/> -
        <NavBarEntry content="EXPLORE"/>
    </div>
</div>