---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Contact Me"
        description="please dont"
        pubDate={new Date('May 13 2024')}
        heroImage="https://cataas.com/cat"
>
    <p>
        You can find me on my github and discord. my discords `peletic` if u wanna add me. i dont really use real social media so :peeposhrug:
    </p>
</Layout>
