---
import Layout from "../layouts/Layout.astro";
import WebGLAttempt from "../components/webgl/WebGLAttempt.astro";


---
<Layout title="Home" class="bg-primary">
    <main class="w-full h-full">
        <WebGLAttempt/>
    </main>
</Layout>