---
import Layout from "../layouts/Layout.astro";
import {IconHome, IconMessage, IconUser} from "@tabler/icons-react";
import Carousel from "../components/carousel/Carousel.astro";
import VerticleTitle from "../components/VerticleTitle.astro";
import {FloatingNav} from "../components/ui/floating-navbar";
import {Button} from "../components/ui/moving-border";
import Greeting from "../innerpages/Greeting.astro";
import Home from "../innerpages/Home.astro"
import {atom} from 'nanostores'


---


<Layout>
    <main id="main" data-theme="dark" class="w-full h-full bg-neutral " >

        <Greeting/>
        <Home/>

    </main>
</Layout>
<script>
    import {$page} from "../states/index.js"
    console.log(document.body)
    $page.subscribe((value) => {
        console.log(value)
        if (value === "greeting") {
            document.getElementById("home").hidden = true
            document.getElementById("greeting").hidden = false
        } else {
            document.getElementById("home").hidden = false
            document.getElementById("greeting").hidden = true
        }
    })
</script>